
<h1>TEST</h1>


<form action="/artist-search", method="GET">
  {{!-- <label for="theArtistName">Search for an Artist:</label><br> --}}
  <input type="text" id="Aname" name="theArtistName" ><br>
  <button type="submit">Find the Artist</button>
</form>

